/* Global CSS*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Lato", sans-serif;
}
.red-text{
    color: red;
}
.form-warning{
    height: 20px;
}
.error-alert-btn{
    background-color: #f55330 !important;
    color: white !important;
}
.shorten-text{
    white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-brand {
    background-color: #f55330;
    border: 1px solid #f55330;
    color: white;
}
.ec_banner-content {
    margin-top: 15vh;
}
.btn-brand:hover {
    background-color: white;
    color: #f55330;
    border: 1px solid #f55330;
}

.btn-outline-brand {
    color: #f55330;
    border: 1px solid #f55330;
}

.btn-outline-brand:hover {
    background-color: #f55330;
    color: white;
    border: 1px solid #f55330;
}

.ec_tiny-text {
    font-size: 10px;
}

.ec_med-text {
    font-size: 14px;
}

.ec_lg-text {
    font-size: 20px;  
      color: #fff !important;
      letter-spacing: 2px;
}

.ec_text-grey {
    color: grey;
}

.ec_brand-bg {
    background-color: #f55330;
}

.ec_white-bg {
    background-color: white;
}

.ec_text-brand {
    color: #f55330;
}

.ec_border-grey {
    border: 1px solid grey;
}

.ec_primedpoll-nav {
    height: 8vh;
}


/* Sign In Page */
.ec_profile-body {
    max-height: 100%;
}


.ec_auth-body {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://res.cloudinary.com/getfiledata/image/upload/v1576756371/mountain-sky-min.jpg");
    background-position: center;
    background-size: cover;
}
.cr-select-sty option {
    color: black;
    font-weight: bold;
    opacity: .5;
}

.ec_signin-form {
    height: auto;
    padding-bottom: 20px;
    background-image: inherit;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin-bottom: 0%;
    border-radius: 5px;
}

.ec_signup-form {
    height: auto;
    padding-bottom: 20px;
    background-image: inherit;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    margin-bottom: 0%;
    border-radius: 5px;
}
.ec_signup-form input {
   
}

.ec_sign-in-btn {
    background-color: #f55330;
    color: white;
    background-color: #f55330;
    color: white;
    /* border: 1px solid #ffffff; */
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.2); */
    border-radius: 5px;
    transition: 1s all ease;
    font-weight: bold;
}
.ec_sign-in-btn:hover {

    background-color: inherit;
    color: white  ;
    border: 1px solid ;
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.2); */
    border-radius: 5px;
    transform:scale(1.003);
}

.ec_form input {
    background: inherit !important;
    color: white !important;
}
.ec_form input::placeholder {
    color: lightgray;
}
.ec_form a {
    color: #f55330;
}

.ec_text-brand {
    color: #f55330;
}

.ec_forgot-password {}

.ec_other-sign-in img {
    cursor: pointer;
}

.ec_confirm_password {
    margin-bottom: 0px;
}

/* Profile Page */
#user-image {
    border-radius: 100px;
    cursor: pointer;
}

#user-image:hover {
    filter: brightness(90%)
}

.edit-image-btn {
    display: none;
    position: absolute;
    top: 47%;
    left: 47%;
}

#upload-image-label:hover .edit-image-btn {
    display: block;
}

.user-info {
    margin-top: 7%;
}

.ec_border-right-brand {
    border-right: 1px solid white;
    height: 100vh;

}

.ec_border-brand {
    border: 1px solid #f55330;
}

.poll-listing {
    height: 35vh;
}

.poll-listing a[aria-selected="false"] {
    color: #f55330;
}

.poll-listing a[aria-selected="true"] {
    color: grey;
}

#interests-list {
    height: 52vh;
    overflow-y: scroll;
}

.interest {
    color: white;
    background-color: #f55330;
    padding: 8px 0px;
    border-radius: 5px;
}

.edit-interest {
    color: white;
    background-color: #f55330;
    padding: 8px 0px;
    border-radius: 5px;
}

.delete-interest {
    display: none;
}

.edit-interest:hover .edit-interest-words {
    display: none;
}

.edit-interest:hover .delete-interest {
    display: block;
}

.bg-white {
    background-color: white;
}

.user-info input {
    border: 1px solid #f58931;
    border-radius: 5px;
    padding: 10px 10px;
}

.user-info input::placeholder {
    font-size: 16px;
}

.user-info textarea {
    border: 1px solid #f58931;
    border-radius: 5px;
}

.ec_edit-btn {
    border-radius: 20px;
}

/* .upload-box{
    background: red;
    overflow: hidden;
    display: inline-block;
}
.upload-box input[type=file]{
    position:absolute;
    top:0;
    left:0;
} */
#editForm .form-group {
    margin-bottom: 0.5rem;
}

.auth-body {
    height: 100vh;
    background-color: #f55330;
    background-size: 100%;
    position: relative;
    font-family: 'Slabo 27px', serif;
}

.form--bg {
    min-height: 50vh;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Slabo 27px', serif;
}

.sign-in-fields input {
    border: none;
    padding: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    cursor: pointer;
    border-radius: 0%;
}

.sign-in-fields input:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    background-color: inherit;
    cursor: pointer;
}

.feeds-btn-nav {
    margin-top: 2vh;
    color: #7a4318;
}

.feeds-btn-nav:hover {
    background-color: #f55330;
    color: #7a4318;
}

.feeds-btn-nav:focus {
    background-color: #f55330;
    color: #7a4318;
}

.invisible-body {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    display: none;
}
.preloader-box {
    position: absolute;
    top: 40%;
    left: 45%;
    height: 20vh;
    width: 20vh;
}
.preloader-box img {
    width: 10vh;
}
.ec_err_show {
    color: tomato;
}

.ec_err_input {
    border-bottom-color: tomato;
}

.ec_err_not_found {
    font-size: 3vh;
    height: 5vh;
}

.hover-0 {
    background-color: inherit;
    ;
    color: inherit;
}

@media (min-width:768px) {
    .new-poll-card {
        margin-left: 27%;
    }

}

@media (max-width:900px) {
  .ec_signin-form button, .ec_signup-form button{
      background: #fff;
      border:1px solid  #f55330;
      color:  #f55330;
   }
}

@media (max-width:767px) {

  .ec_signin-form {
      left: 53%;
  }

  .ec_signup-form {
    left: 53%;
  }

}
