.scroller{
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 4px;
}
.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
}

.slim_preloader_holder {
  width: 100%;
  height: 5px;
}

.slim_preloader {
  background: #00b8d8;
  height: 5px;
}
.our-nav {
  position: fixed;
  z-index: 5;
}
.navbar-brand {
  height: 6vh;
  width: 20vh;
}
.navbar-brand img {
  height: 100%;
  width: 100%;
}
.our-nav .nav-item .nav-link {
  color: white;
}
.our-nav .nav-item .nav-link:hover {
  color: #f55330;
}
.our-nav .nav-item.active .nav-link{
  color: white;
}

