textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 0px 0 #ddd !important;
}


.scroller{
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 4px;
}
.scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: none;
}

.scroller::-webkit-scrollbar-thumb {
    color: black;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #343a40;
}

.slim_preloader_holder {
  width: 100%;
  height: 3px;
}

.slim_preloader {
  background: #00b8d8;
  height: 3px;
}
.our-nav {
  position: fixed;
  z-index: 5;
}
.navbar-brand {
  height: 6vh;
  width: 20vh;
}
.navbar-brand img {
  height: 100%;
  width: 100%;
}
.our-nav .nav-item .nav-link {
  color: white;
}
.our-nav .nav-item .nav-link:hover {
  color: #f55330;
}
.our-nav .nav-item.active .nav-link{
  color: white;
}
.btn-brand {
  background-color: #f55330;
  border: 1px solid #f55330;
  color: white;
}
.btn-brand:hover {
  background-color: white;
  color: #f55330;
  border: 1px solid #f55330;
}
.btn-outline-brand {
  color: #f55330;
  border: 1px solid #f55330;
}
.btn-outline-brand:hover {
  background-color: #f55330;
  color: white;
  border: 1px solid #f55330;
}
.marck-text {
  font-family: 'Marck Script', cursive;
}
.bold {
  font-weight: bold;
}
/* big screen search bar */
.search-poll-sty {
  color: white !important;
  font-weight: bold;
  outline: 0 !important;
  background: inherit;
  border-bottom: 2px solid white !important;

}
.search-poll-sty::placeholder {
  color: white;
  
}

.search-poll-sty:focus {
  border: 0px !important;
  background: inherit;
  border-bottom: 2px solid white !important;
}
.search_preloader {
  visibility: hidden;
}
.search_interest_preloader {
  visibility: hidden;
}

/*Small screen */

.small-search-poll-sty {
  color: #f55330 !important;
  font-weight: bold;
  outline: 0 !important;
  background: inherit;
  border-bottom: 2px solid #f55330 !important;

}
.small-search-poll-sty::placeholder {
  color: #f55330;
  
}

[data-load-more-feeds] {
  display: none;
}

.small-search-poll-sty:focus {
  border: 0px !important;
  background: inherit;
  border-bottom: 2px solid #f55330 !important;
}
[data-search-interest-query] {
  border:0px !important;
}
@media (max-width:768px) {

  .data-search-big {
      display: none;
  }

}
@media (min-width:768px) {

  #phone_btn {
      display: none !important;
  }

}