
.user-page-interests{
	border-radius: 4px;
	height:25vh;
	align-content: start;
}
.update-interests{
	height:55vh;
	overflow-y: scroll;
}
.update-interests::-webkit-scrollbar {
	width: 5px;
  }

  /* Track */
  .update-interests::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	display: none;
  }

  /* Handle */
  .update-interests::-webkit-scrollbar-thumb {
	background: rgba(24, 23, 23, 0.37); 
	border-radius: 10px;
  }
.user-page-interests div{
	max-height: 4vh;
	border-radius: 4px;
}
.update-interests div{
	cursor: pointer;
	height: 5vh;
	border-radius: 4px;
}
.update-interests span{
	z-index: 1;
}
.update-interests i{
	display:none;
	z-index: 2;
	font-size: 18px;
}
.update-interests i{
	position: relative;
	bottom: 2.5vh;
}
.update-interests div:hover{
	background-color: #f58710;
	color:white;
}
.edit-interests-div{
	cursor: pointer;
}
/* .interest-selected{
	background-color: #f58731;
	color:white;
}
.interest-selected span{
	font-weight: lighter;
}
.interest-selected i{
	display: block;
} */
/* .update-interests div:focus {
	display:block;
} */

/*.user-poll-stats{
	min-height: 10vh;
}*/
/*.asked-poll{
	vertical-align: middle;
}
.answered-poll{
	vertical-align: middle;
}*/
.bio-field .list-group-item{
	border:none;
}
.edit-bio-icon{
	cursor: pointer;
}
#editBioModal{
	margin-top: 20vh;
}
#inputBio{
}
.recent-polls-card{
	min-height:15vh;
}
.recent-polls-box{
	max-height: 47.5vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.recent-polls-box::-webkit-scrollbar {
	width: 5px;
  }

  /* Track */
  .recent-polls-box::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
	display: none;
  }

  /* Handle */
  .recent-polls-box::-webkit-scrollbar-thumb {
	background: rgba(24, 23, 23, 0.37); 
	border-radius: 10px;
  }
.scroller-brand{
	scrollbar-color:  #f58731 white;
    scrollbar-width: thin;
}
.normal-weight{
	font-weight: 500;
}
.heavy{
	font-weight: bold;
}
.color-brand{
	color:#f58731;
	margin: 0;
	padding: 0;
}
.color-grey{
	color:grey;
	margin: 0;
	padding: 0;
}
.color-dark{
	color:#5a6169;
	margin: 0;
	padding: 0;
}
.btn-brand{
	color: white;
	background-color: #f58731;
}
.recent-polls-card img{
	border-radius: 20px;
}
.recent-polls-button button{
	margin-left: 6vh;
}
.btn-outline-brand{
	border:1px solid #f58731;
	color: #f58731;
	background-color: white;
}
.btn-outline-brand:hover{
	color: white;
	background-color: #f58731;
}
.user-page-interests div{
	border: 1px solid #f58731;
	background-color:white;
	color:#f58731;
	font-weight: bold;
	height: 25vh;
}
.update-interests div{
	border: 1px solid #f58731;
	background-color:white;
	color:#f58731;
	font-weight: bold;
}
.nav-item a{
	color:#f58731;
}
.vert-middle{
	vertical-align: -moz-middle-with-baseline;
}
#listFollowersModal .modal-dialog{
	max-width: 100%;
}
#listFollowersModal .modal-content{
	width: 60vw;
	height: 80vh;
}
#listFollowingModal .modal-dialog{
	max-width: 100%;
}
#listFollowingModal .modal-content{
	width: 60vw;
	height: 80vh;
}
.follow-stat-con{
	height: 70vh;
}
.follow-stat-box{
	height: 30vh;
}
.follow-stat-box div{
	border-radius: 5px;
}
.follow-stat-box img{
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
}
.follow-stat-box p:hover, .follower-box span:hover{
	text-decoration: underline;
	cursor: pointer;
}
.asked-poll span:hover{
	cursor: pointer;
	text-decoration: underline;
}
.answered-poll span:hover{
	cursor: pointer;
	text-decoration: underline;
}