body {
  font-family: "Lato", sans-serif !important;
}
#poll-card {
  /* height:40vh; */
}
#poll-card #user-image {
  /* border-radius: 20px; */
}

#imagePollCollapse {
	display: none;

}

#imagePollCollapse .card {
	min-height: 10vh;
}

#inputImage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.img_placeholder {
  height: 100px;
  width: 100%;
}
#imagePollCollapse label i {
	font-size: 5vh;
}
.import_img {
  font-size: 10px;
  height: 15vh;
}
#imagePollCollapse img {
	height: 50%;
}

.ec_poll-interest {
  float: right;
}
.ec_med-text {
  font-size: 16px;
}
/* .vote-button{
    float:right;
    margin-right:50px;
} */
.card-name {
  font-size: 14px;
  vertical-align: bottom;
}
.ec_poll-question {
  margin-left: 4.2vw;
}
.ec_poll-answers {
  margin-left: 2.1vw;
}
.ec_poll-misc span {
  vertical-align: -moz-middle-with-baseline;
}
.scrollable-black {
  scrollbar-color: white black;
  scrollbar-width: thin;
}
.scrollable-white {
  scrollbar-color: black white;
  scrollbar-width: thin;
}
.scrollable-brand {
  scrollbar-color: #f55330 white;
  scrollbar-width: thin;
}
.nav-link span {
  font-size: 14px;
}
.nav .sticky-top {
  background-color: #f55330;
}
.nav .sticky-top span {
  color: white;
}
.brand-bg {
  background-color: #f55330;
}
.text-brand {
  color: #f55330;
}
#follow-con {
  max-height: 90vh;
  overflow: auto;
}
.follow-box {
  min-height: 10vh;
}
.follow-user-image {
  height: 100%;
}
.open_member_link span{
  color: #5A6169;
}
.open_member_link span:hover {
  color: #f55330;
}
.open_member_link small{
  color: #007bff;
}
.open_member_link small:hover {
  color: #0056b3;
}
.follow-user-name {
  cursor: pointer;
  font-size: 16px;
}
.follow-user-name:hover {
  color: #f55330;
}
.follow-box .btn-outline-brand {
  border-radius: 20px;
  height: 5vh;
}
.follow-scroll{
  overflow: auto;
  white-space: nowrap;
  height: 34vh;
}
.follow-con-2 {
	display: block;
  height: 32vh;
  overflow-y: hidden;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
	0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.follow-box-2 {
  height: 100%;
  display: inline-block;
  float: none;
  visibility: visible !important;
  animation-delay: .8s;
}
.follow-user-image-2 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.fun-box {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fuid-box {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.poll-images-box{
  
}
.poll-image{
  border-radius: 5px;
  height: 20vh;
}
.poll-image img{
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.selected-image{
  border: 3px solid #f55330;
}

.main-sidebar .nav .nav-item .nav-link {
  border-bottom: 1px solid #e6e6e6;
}
.main-sidebar .nav .nav-item .nav-link:hover {
  border-right: 3px solid #f55330;
}
#viewPollModal {
  z-index: 1080;
}
#viewPollModal .modal-dialog {
  max-width: 90%;
  margin-top: 10vh;
}
#viewPollModal .modal-dialog .modal-content {
  min-height: 85vh;
}
.view-poll-full {
  min-height: 80vh;
}
.view-poll-full h6 {
  color: grey;
}
.view-poll-full .progress-bar {
  background: grey;
}
.poll-question-modal h4{
  color: grey;
}
.poll-options-modal {
  min-height: 60vh;
}
.poll-owner-image {
  height: 35vh;
  width: 35vh;
}
.image-options-modal {
  min-height: 30vh;
}
.image-option-stats {
  height: 20vh;
  width: 20vh;
}
.image-option-stats img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.image-option-stats img.selected {
  border: 3px solid #f55330;
}
/* .image-option-stats .progress.selected {
  border: 1px solid #f55330;
} */
.poll-owner-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f55330;
}
.poll-owner-name {
  color: grey;
}
.option-stats.user-choice span, .option-stats.user-choice h6 {
  color: #f55330;
}
.option-stats.user-choice .progress-bar {
  background: #f55330 !important;
}
.search-polls-mobile input {
  border-radius: 5px;
  border: none;
}
/* .poll-owner-stats p {
  color: #f55330;
} */
@media screen and (max-width:991px){
	#follow-con{
		display: none;
	}
}
@media screen and (max-width:768px){
	.feeds_box {
		padding: 0px;
  }
  #viewPollModal .modal-dialog {
    max-width: 100%;
  }
  .search-polls-mobile {
    display: block !important;
  }
}
@media screen and (min-width:992px){
	.mobile-follow{
		display: none;
	}
}
