body{
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
}
.full-body{
    min-height: 100vh;
    background: linear-gradient(to bottom right,rgba(19,26,31, 0.8), rgba(0,0,0, 0.8)), url("../../primed_assets/img/mountain-sky.jpg");
    background-position: center;
    background-size: cover;
}
.form-con{
    margin-top: 15vh;
}
.complete-details{
    min-height: 100vh;
    /* background-color: #f55330; */
    color:white;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../primed_assets/img/mountain-sky.jpg"); */
    /* background-position: center;
  background-size: cover; */
}
.comp-form input, .comp-form select{
    background: inherit !important;
    color: white !important;
}
.comp-form input::placeholder, .comp-form select::placeholder {
    color: lightgray;
}
.complete-interests {
    
}
.interests-con{
    min-height: 60vh;
    max-height: 60vh;
    border-radius: 4px;

}
.interests-box{
    margin-top: 20vh;
}
.interests-box h4{
    margin-left: 10vh;
}
.interests-box a:hover{
    text-decoration: none;
}
.interest{
    background-color: #f55330;
}
.interest-words{
    color:white;
}